<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Fukushima Nuclear Radiation Measurements by MEXT</title>
    <style>
    </style>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,visualization&v=3.exp&sensor=false"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- <script type="text/javascript" -->
    <!-- src="http://www.google.com/jsapi"></script> -->
    <script type="text/javascript" src="static/js/jquery.gchart.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.gchart.ext.min.js"></script>

    <script type=text/javascript>
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      console.log($SCRIPT_ROOT);
    </script>
    <script src="static/js/slider.js"></script>
    <script src="static/js/query.js"></script>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body id="css-zen-garden">
    <h1>Comparison of Citizen and Government Radiation Data from
    Fukushima Daiichi</h1>
    <p>Date (refreshes map): <input type="text" id="datepicker" value="09/24/2011" /> No government data from
    2011-03-12 to 2011-09-20. </p>
    <p>Choose percentage difference (%): <input type="number" id="prop"
    min="0" max="100" value="0" step="5" size="5" /> (between 0 and
    100, defaults to 0). </p> 
    <p>Choose interpolation model: 
      <label><select id='model'>
	<option>Radial Basis Function</option>
	<option>Inverse Distance Weighting</option>
	<option>Ordinary Kriging</option>
    </select></label></p>
    <p>Leave one out cross-validation Mean Squared Error for current
    method: <strong><span id="cv" style="color:darkred"></span></strong>
    </p>
    <div>
      <img src='http://labs.google.com/ridefinder/images/mm_20_green.png'
	   /> Both data is within range (<em>e.g.</em> citizen data
	   within +/- 20% of government data) <br />
      <img src='http://labs.google.com/ridefinder/images/mm_20_blue.png'
	   /> Citizen Data > Government Data <br />     
      <img src='http://labs.google.com/ridefinder/images/mm_20_red.png'
	   /> Government Data > Citizen Data
    </div>
    <div id="map-canvas"></div>
    <!-- <div id="brisChart"></div> -->
    <p>Source
    code <a href="https://github.com/tokestermw/fukushima-nuclear-radiation">here.</a></p>
    <p>Database provided by Google Fusion Tables. Link to
    <a href="https://www.google.com/fusiontables/DataSource?docid=1vbwmVpcAv_QFlYeOk_ZAio8vuGUzEY1hRCLznfc">Crowdsourced
    data</a>
    and <a href="https://www.google.com/fusiontables/DataSource?docid=1VN5CvclBOR7aV0pimYei_dtozRjOKBDHjAH-rJY">Government
    data</a>. </p>
    <p>Government data provided
    by <a href="http://www.sendung.de/japan-radiation-open-data/">Marian
    Steinbach and MEXT</a>. Crowdsourced data provided by <a href="http://blog.safecast.org/">Safecast</a>. </p>
    <p>Created by Motoki Wu (<a href="https://twitter.com/plusepsilon">@plusepsilon</a>.)</p>
  </body>
</html>
